.mainLeftHideMessenger {
    background-color: black;
    display         : grid;
    height          : 100%;
    width           : 35%;


}

.MainHeaderHIdeMessage {
    display    : flex;
    align-items: center;
    margin-top : 1%;
    height     : 75px;
}

.headerMainLeftHideMessage {
    width      : 20%;
    display    : flex;
    align-items: center;


}

.headerMainRightHideMessage {
    padding-left: 60%;
}

.searchMainLeft {
    display        : flex;
    width          : 100%;
    justify-content: center;
    margin-bottom  : 5%;

}

.backgrdSearch {
    width           : 90%;
    background-color: #DADADA;
    height          : 40px;
    display         : flex;
    align-items     : center;
    border-radius   : 38px;

}

.centerMainLeftHideMessage {
    display: grid;
    width  : 100%;

}

.backgrdCenterMainLeftHideMessage {
    width           : 85%;
    display         : grid;
    background-color: #FFFFFF1A;
    align-items     : center;
    margin-left     : 7%;
    justify-content : center;

}

.backgrdCenterMainLeftHideMessageSubject {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.backgrdCenterMainLeftHideMessageMessage {
    display        : grid;
    width          : 100%;
    color          : white;
    justify-content: center;
    text-align     : center;
    font-size      : 18px;

}

.btnCenterMainLeftHideMessage {
    width          : 100%;
    display        : flex;
    justify-content: center;

}

.btnCenterMainLeftHideMessage button {
    margin-bottom   : 5%;
    height          : 60px;
    width           : 50%;
    background-color: #5BE260;
    border-radius   : 12px;
    border          : 1px solid white;
    color           : white;
    font-size       : 20px;
    font-weight     : 600;

}

.onlineUserHideMessage {
    display        : flex;
    justify-content: center;
}

.backgrdOnlineUserHideMessage {
    height          : 50vh;
    background-color: #636363;
    width           : 85%;
    
    border-radius   : 16px;
    margin-bottom   : 2%;

}

.headerBackgrdOnlineUserHideMessage {
    width      : 100%;
    margin-top : 5%;
    margin-left: 5%;
    color      : white;
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
}

.headerBackgrdOnlineUserHideMessage h5 {
    width: 60%;
}

.allPageHideMessage {
    background-image   : url('../public/backgrdImg.jpg');
    background-size    : cover;

    background-repeat  : no-repeat;
    /* Ngăn không cho ảnh lặp lại */
    background-position: center center;
    /* Đặt ảnh ở giữa */
    height             : 105vh;
    /* Đảm bảo rằng trang chiếm toàn bộ chiều cao của cửa sổ */
    margin             : 0;
    /* Loại bỏ lề mặc định */
    display: flex;
}
.mainRightHideMessage{
    width: 70%;
}
.onlineUserHideMessageMainRight {
    cursor: pointer;
    display: flex;
    background-color: #FFFFFF1A;
    height: 65px;
    align-items: center;
    width: 100%;
    
 }
 
 .avatarOnlineClientMessageMainRight {
     width      : 100%;
     display    : flex;
     margin-left: 2%;
     align-items: end;
 }
 
 .avatarOnlineClientMessageMainRight img{
     width        : 50px;
     border-radius: 71.18px;
     height       : 50px;
   
 }
 
 .avatarOnlineClientMessageMainRight p{
     color      : white;
     font-size: 20px;
     display: flex;
     height: 30px;
     
 }

 .boxMessage{
    background-color: #FFFFFF33;
    height: 80vh;
    margin-left: 10%;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    margin-top: 3%;
    overflow-x: hidden;
    overflow-y:auto;
    padding: 10px;
 }
 
 .sendHideMessage{
    display: flex;
    margin-left: 10%;
    margin-top: 3%;
 }

 .sendCommentHideMessage{
    width: 75%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #D3D3D3;
    border-radius: 32px;
 }
 .sendCommentHideMessage input{
    width: 80%;
    margin-left: 3%;
    background-color: #D3D3D3;
    border: none;
    outline: none;
    height: 100%;
    font-size: 20px;

 }