.message-box {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
    font-size: 14px;
    
   
}

.messageBoxAndUser img{
    width: 40px;
    border-radius: 32px;
    height: 40px;
    margin-right: 10px;
  
   
}

.messageBoxAndUser{
    display: flex;
    width: 50%;
    margin-left: 5%;
    padding-top: 5%;
    position: relative;
    
}

.sendMessageFont{
position: absolute;
width: 60.34px;
height: 37.17px;
left: 68px;
top: 56.5px;
background: #82B829;

}