@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

* {
 margin: 0;
 padding: 0;
}

html {
 font-size: 100%;
}

body {
 /* font-family: 'Roboto', sans-serif; */
 font-weight: 400;
 font-style: normal;
 /* font-size: 1.6rem; */
}

button,
input {
 outline: none;
 border: none;
 background: transparent;
}

ul {
 margin-bottom: 0;
 padding-left: 0;
}

/* _______________________ */
.style-scrollbar-y::-webkit-scrollbar {
 border-radius: 6px;
 background-color: black;
 width: 10px;
}

.style-scrollbar-y::-webkit-scrollbar-thumb {
 background-color: white;
 border-radius: 6px;
 cursor: pointer;
}

.style-scrollbar-y-sm::-webkit-scrollbar {
 width: 6px;
}

.style-scrollbar-y-md::-webkit-scrollbar {
 width: 10px;
}

/* _____________________ */
.style-scrollbar-x::-webkit-scrollbar {
 border-radius: 6px;
 background-color: black;
 width: 10px;
}

.style-scrollbar-x::-webkit-scrollbar-thumb {
 background-color: red;
 border-radius: 6px;
 cursor: pointer;
}

.style-scrollbar-x-sm::-webkit-scrollbar {
 height: 6px;
}

.style-scrollbar-x-md::-webkit-scrollbar {
 height: 10px;
}
